# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
GP1_venv/

# VS Code settings
.vscode/

# Flask instance folder
instance/

# Flask static files
static/
